body{
font: 20px arial, sans-serif;    
}
.navbar{
    background-color: #C9EBCA;
}

.quem-somos{
    background-color: blue;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: turquoise;
}
.bg-footer{
    background-color: black;
    color: white;
}
.servicos{
    background-color: yellow;
}